*,
body {
    font-family: 'Poppins', sans-serif;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-login {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.background-image-login {
    width: 100%;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 230px 15px 60px 15px;
}

.login100 {
    padding: 43px 88px 93px 88px;
}

.background-image-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(199, 199, 199, 0.2);
}

.input-border {
    border-width: 0px 0px 1px 0px;
    border-bottom-style: solid;
}

.conteudo {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title-login {
    background: #ffffff;
    padding: 5px 20px;
    opacity: 0.9;
    border-radius: 5px;
    font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
    .login100 {
        padding: 43px 15px 93px 15px;
    }
}